<div id="message-container">
    <ul id="messages"></ul>
    <div id="message-form">
        <form action="" id="msg-form">
            <input id="m" autocomplete="off" class="form-control" /><button class="btn btn-primary" id="chat-btn">Send</button>
        </form>
    </div>
</div>