<div class="logged-out">
    <h1 class="big-welcome">Welcome to Tabletop Scores.</h1>
    <h1 class="small-welcome">Welcome.</h1>
    <p>Login and game on!</p>
    <br>
    <a href="/auth/google"><img class="goog-sign-in" src="/images/btn_google_signin_dark_normal_web@2x.png"></a>
</div>