<div class="logged-out">
    <h1 class="welcome">Welcome to Tabletop Scores.</h1>
    <p>Login and game on!</p>
    <a href="/auth/google"><img class="goog-sign-in" src="/images/btn_google_signin_dark_normal_web@2x.png"></a>
</div>
<div class="screenshots">
    <h3>Log gaming sessions with your friends!</h3>
    <img src="/images/new-session-screenshot.png">
    <h3>Play more games to level up!</h3>
    <img src="/images/home-page-screenshot.png">
</div>