<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Tabletop Scores</a>
             <a href="https://github.com/Vurolock/tabletop-scores"><img src="/images/github-logo.png" class="github"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/games">Games</a></li>
                <li><a href="/players">Players</a></li>
                {{#if auth}}
                <li><a href="/logout">Log Out</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>