<h1>{{title}}</h1>
<div class="container">
    <form action="/score" method="POST" class="needs-validation">
        <div class="form-group">
            <label for="game">Choose your game:</label>
                <select multiple name="gameId" id="game" class="form-control" size="8" required>
                    {{#each games}}
                    <option value={{id}}>{{name}}</option>
                    {{/each}}
                </select>
        </div>
        <a href="#">Don't see your game? Add it here!</a><br>
        <button type="button" class="btn btn-info" style="margin:1em 0 .5em 0" id="add-player-btn">Add Player +</button>
    
        <div class="form-row" id="player-row">
            <div class="form-group col-sm-8">
                <label for="players">Player Name</label>
                <input type="text" class="form-control" id="players" name="name" list="playerList" required>
                <datalist id="playerList">
                    {{!-- Data from /players requested to fill this element --}}
                </datalist>
            </div>
            <div class="form-group col-sm-4">
                <label for="score">Score</label>
                <input type="number" class="form-control" id="score" name="score">
            </div>
        </div>
        <button type="submit" class="btn btn-primary col-sm-3">Submit</button>
    </form>
</div>

