html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

/* NAVBAR */

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
	color: #5cb85c;
}

.navbar-inverse .navbar-toggle {
	border-color: #999999;
}

.nav > li > a {
	text-align: right;
	padding-right: 25px;
}

/* INDEX */

.logged-out, .logged-in {
	margin: auto;
	width: 505px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.goog-sign-in {
	width: 210.66px;
}

.jigsaw {
	width: 25px;
	border-radius: 50%;
}

/* SESSIONS */

.session-info, .current-player, .other-player  {
	display: flex;
	justify-content: space-between;
}

.panel-title > a {
	text-decoration: none;
}

.session-game-name {
	font-weight: bold;
	width: 50%;
}

.session-score, .session-date, .session-player-score, .empty {
	width: 15%;
}

.panel-body {
	padding: 7px 0;
}

.current-player, .other-player {
	padding: 3px 25px;
}

.current-player {
	background-color: #eeeeee;
}

.session-player-name {
	width: 50%;
}

.session-player-score {
	position: relative;
}

.session-player-score > span {
	position: absolute;
	left: 55px;
}

/* FORM */

.form-entry {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: 0 auto;
  /* border: solid .5px gray; */
  padding: 35px;
  box-shadow: 0 2px rgba(161, 161, 161, 0.603);
}

form {
	width: 90%;
}

.custom-panel {
  margin: 15px 0 15px 0;
}

.user-title {
  border-bottom: solid black 1.5px;
  box-shadow: 0 2em gray;
}

.to-sessions {
	transition: all .4s ease;
	text-decoration: none;
	font-size: 20px;
	color: rgb(165, 165, 165);
}

.to-sessions:hover {
	text-decoration: none;
	color: #5cb85c;
	margin-left: 10px;
}

.each-player {
	margin: 35px;
}

.each-game {
	margin: 25px 0;
}

/* IMAGES */

.screenshots {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.screenshots > img {
	border: 3px solid rgb(177, 168, 168);
	border-radius: 10px;
}

.screenshots > h3 {
	padding-top: 30px;
}

@media screen and (max-width: 800px) {

	h2 {
		font-size: 18px;
	}
	
	.session-info {
		display: block;
	}

	.session-date, .session-game-name, .session-score {
		width: 100%;
	}

	.empty {
		display: none;
	}

	.session-player-score > span {
		position: absolute;
		left: 0;
	}

	.session-player-name {
		width: 75%;
	}

	.session-player-score {
		width: 25%;
	}
}

@media screen and (max-width: 605px) {

	body {
		padding: 50px 20px;
	}
	
	.logged-out, .logged-in {
		width: 220px;
	}

	.welcome {
		font-size: 27px;
		text-align: center;
	}

	.form-entry {
		padding: 35px 0;
	}

	.screenshots > img {
		width: 280px;
	}

	h3 {
		font-size: 20px;
	}
}