body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-entry {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
  /* border: solid .5px gray; */
  padding: 35px;
  box-shadow: 0 2px rgba(161, 161, 161, 0.603);
}

.custom-panel {
  margin: 15px 0 15px 0;
}