html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

/* NAVBAR */

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
	color: #5cb85c;
}

.navbar-inverse .navbar-toggle {
	border-color: #999999;
}

.nav > li > a {
	text-align: right;
	padding-right: 25px;
}

/* INDEX */

.logged-out, .logged-in {
	margin: auto;
	width: 505px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.goog-sign-in {
	width: 210.66px;
}

.jigsaw {
	width: 25px;
	border-radius: 50%;
}

@media screen and (max-width: 605px) {
	.logged-out, .logged-in {
		width: 220px;
	}

	.welcome {
		font-size: 21px;
	}
}

.form-entry {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: 0 auto;
  /* border: solid .5px gray; */
  padding: 35px;
  box-shadow: 0 2px rgba(161, 161, 161, 0.603);
}

form {
	width: 90%;
}

.custom-panel {
  margin: 15px 0 15px 0;
}

.user-title {
  border-bottom: solid black 1.5px;
  box-shadow: 0 2em gray;
}

.to-sessions {
	transition: all .4s ease;
	text-decoration: none;
	font-size: 20px;
	color: rgb(165, 165, 165);
}

.to-sessions:hover {
	text-decoration: none;
	color: #5cb85c;
	margin-left: 10px;
}

.each-player {
	margin: 35px;
}

.each-game {
	margin: 25px 0 25px 0;
}
